html, body {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


/* ----------------------------- Main Screen ------------------------------------------ */
.containerStyle {
    display: flex;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease;
}

.leftStyle {
    width: 0%;
    background-color: #f0f0f0;
    overflow: hidden;
    padding: 0;
    border-right: none;
    transition: width 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
    position: relative;
    opacity: 0;
    overflow-y: "auto";
    max-height: "100vh";
    scrollbar-width: "thin";
}


.leftStyle.navDisplay {
    width: 15%;
    padding: 10px;
    border-right: 1px solid #ccc;
    opacity: 1;
}

.rightStyle {
    margin: 2% auto;
    width: 100%;
    background-color: #fff;
    overflow-y: auto;
    padding: 10px;
    transition: width 0.3s ease, padding 0.3s ease;
}

.rightStyle.navDisplay {
    width: 85%;
}

.buttonStyle {
    position: fixed;
    top: 1.5%;
    left: 1%;
    z-index: 1000;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: left 0.3s ease, background-color 0.3s ease;
}

.buttonStyle.navDisplay {
    left: 17%;
    background-color: #ccc;
}



/* ---------------------------- Navigation Bar ------------------------------- */

.linkButtonStyle {
    position: fixed;
    left: 1%;
    z-index: 1000;
    width: 14%;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: left 0.3s ease background-color 0.3s ease;
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 20px;
    font-weight: 700
}

.courseButtonStyle {
    left: 1%;
    z-index: 1000;
    width: 80%;
    padding: 5% 5%;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: left 0.3s ease background-color 0.3s ease;
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 20px;
    font-weight: 700
}

/* ---------------------------- Coding Area ------------------------------- */
.stacking {
    margin: 0 auto;
    width: 92%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.stacking .myUniqueDiv {
    margin: 2% 2%;
    padding: 1% 2%;
    display: flex;
    min-height: 0;  
    flex-direction: column;
    border: 1px solid black;
}

.stacking textarea {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    resize: none;
    min-height: 0;
}

.runBtn {
    padding: 0.5% 2%;
    border-radius: 10px;
    background-color: rgb(48, 213, 50);
    border: 1px solid black;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.langSelector {
    padding: 5px 5px;
    border: 2px solid black;
}