body {
    background-color: #fffde2;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.my-text {
    text-align: left;
    font-size: 25px;
}

.rounded-square {
    width: 100px;
    height: 100px;
    background-color: #fffde2;
    border: 2px solid #fffde2;
    border-radius: 20px;
}


/* ---------------------- Nevigation Bar Part ------------------------- */

.navigation-bar {
    top: 0%;
    left: 0.4%;
    position: fixed;
    vertical-align: middle;
    width: 99%;
    height: 12%;
    display: flex;
    background-color: #fffde2;
    border: 2px solid #ffde00;
    border-radius: 20px;
    margin: auto auto;
    padding: 0 auto;
    z-index: 1000;
    
}

.navi-container {
    width: 120px;
    height: 50px;
    border-radius: 20px;
    margin: auto auto;
    background-color: #fffde2;
    border: 2px solid #ffde00;
    color: #0034ce;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    
    
}



.logo-back {
    width: 75px;
    height: 45px;
    border-radius: 12px;
    background-color: #0034ce;
    position: absolute;
    top: 15%;
    left: 3%;
}

.logo-front {
    width: 75px;
    height: 45px;
    border-radius: 12px;
    background-color: #ffde00;
    position: absolute;
    top: 40%;
    left: 5.5%;
}


/* ------------------------- Course Wheel Part -------------------------- */

.wheel-container {
    width: 360px;
    height: 720px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    pointer-events: auto;
    margin-top: 150px;
}

 
.wheel {
    width: 700px;
    height: 700px;
    border: 6px solid black;       /* whole wheel outline */
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -355px;
    z-index: 1;                    /* ensure below nav */
    transform: rotate(30deg);      /* initial angle */
    transition: background 0.25s ease, transform 1s ease, opacity 0.25s ease;
    opacity: 1;

    /* 3 slices with dividers */
    background: 
      conic-gradient(
        #3A64FF 0 120deg,
        #4fb2f5 120deg 240deg,
        #eca62b 240deg 360deg
      );
}




.wheel img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    top: 50%;
    left: 50%;
}

.wheel img:nth-child(1) {
    rotate: -30deg;
    transform:  translateX(200px) translateY(-100px);
}

.wheel img:nth-child(2) {
    rotate: 90deg;
    transform:  translateX(150px) translateY(77px);
}

.wheel img:nth-child(3) {
    rotate: 210deg;
    transform:  translateX(323px) translateY(23px);
}




.controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}


/* ------------------------------------- Button Block ------------------------------------ */
.my-button {
    margin: 5% 0;
    padding: 10px 5%;
    font-size: 20px;
    background-color: #ffde00;
    border: 2px solid;
    border-radius: 10px;
    transition: transform 0.15s ease, border 0.15s ease;
}

.my-button:hover {
    border: 4px solid;
    transform: scale(1.2); /* zoom in */
}


/* ------------------------------------- Course Block ------------------------------------ */
.course-block {
    border: 4px solid black;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    padding: 0 5%;
    transition: background 0.25s ease, transform 1s ease, opacity 0.25s ease;
}




/* ------------------------------------- Detail Block ------------------------------------ */


.banner-block {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    
}

.banner-block .slider {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 10%;
    left: calc(50% - 15%);
    transform-style: preserve-3d;
    transform: perspective(1400px) rotateX(-9deg);
    transition: background 0.25s ease, transform 1s ease, opacity 0.25s ease;
}

.banner-block .slider .detail-box {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.banner-block .slider .detail-box div {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid black;
}


/* --------------------------- Contact --------------------------- */
.contact-block {
    border: 4px solid black;
    border-radius: 20px;
    padding: 3% 5%;
    color: white;
    margin-bottom: 20px;
    transition: transform 0.6s ease, opacity 0.6s ease;
    opacity: 0;
}

.contact-block.left {
    transform: translateX(-30%); /* start off-screen to the left */
}

.contact-block.right {
   transform: translateX(30%); /* start off-screen to the right */
}

.contact-block.visible {
    opacity: 1;
    transform: translateX(0);
}

.imgText-line {
    display: flex;
    align-items: center; /* vertically center the text and image */
    gap: 10px;           /* space between the image and text */
}

