/* Start of top nav bar */
    .topnav {
        position:sticky;
        top: 0;
        left: 0.4%;
        vertical-align: middle;
        width: 99%;
        display: flex;
        background-color: #fffde2;
        border: 2px solid #ffde00;
        border-radius: 20px;
        margin: 0 auto 2% 0;
        padding: auto;
        z-index: 1000;
    }


    .navi-container {
        width: 120px;
        height: 50px;
        border-radius: 20px;
        margin: auto auto;
        background-color: #fffde2;
        border: 2px solid #ffde00;
        color: #0034ce;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        
        
    }

    .logo-back {
        width: 75px;
        height: 45px;
        border-radius: 12px;
        background-color: #0034ce;
        position: absolute;
        top: 15%;
        left: 3%;
    }

    .logo-front {
        width: 75px;
        height: 45px;
        border-radius: 12px;
        background-color: #ffde00;
        position: absolute;
        top: 40%;
        left: 5.5%;
    }

/* End of top nav bar */
